## Tickデータのダウンロード
GainCapitalより1週間単位でTickデータのダウンロードができます。
http://ratedata.gaincapital.com/

### pandasでCSVファイルを読み込み
pandasは、プログラミング言語Pythonにおいて、データ解析を支援する機能を提供するライブラリです。pandasを用いてGain Capital Dataの取得をします。
まずは、pandasをインポートします

In [1]:
import pandas as pd

次にCSVをread_csvで読み込みます。
skiprowsにより最初の行を飛ばし、namesによりcolumnに名前を与えています。
indexはDateTimeにしています。

In [3]:
# データーの読み込み
df = pd.read_csv('D:\\temp\\USD_JPY_Week2.csv', index_col='DateTime', names=['Tid', 'Dealable', 'Pair', 'DateTime', 'Buy', 'Sell'], skiprows=1)
# データフレームの最初の5行を表示する
df.head()

                                      Tid Dealable     Pair      Buy     Sell
DateTime
2018-12-09 17:00:23.847000000  7151091741        D  USD/JPY  112.611  112.638
2018-12-09 17:00:42.097000000  7151091859        D  USD/JPY  112.612  112.638
2018-12-09 17:01:11.597000000  7151092010        D  USD/JPY  112.611  112.638
2018-12-09 17:01:35.097000000  7151092147        D  USD/JPY  112.611  112.639
2018-12-09 17:01:52.097000000  7151092197        D  USD/JPY  112.619  112.655

不要なカラムを削除します

In [4]:
# 不要な３カラムを削除する
del df['Tid']
del df['Dealable']
del df['Pair']
# 再度確認する
df.head()

                                   Buy     Sell
DateTime
2018-12-09 17:00:23.847000000  112.611  112.638
2018-12-09 17:00:42.097000000  112.612  112.638
2018-12-09 17:01:11.597000000  112.611  112.638
2018-12-09 17:01:35.097000000  112.611  112.639
2018-12-09 17:01:52.097000000  112.619  112.655

1週間の全ディック数を確認します

In [5]:
df.shape

(361841, 2)

次にデータの欠損値を確認します

In [6]:
# データの欠損値を確認する
df.isnull().sum()

Buy     0
Sell    0
dtype: int64

欠損値はなさそうです

### ティックデータから分足データに変換する

In [7]:
# データフレームのインデックスをto_datetimeで変換する
df.index = pd.to_datetime(df.index)
df.head()

                             Buy     Sell
DateTime
2018-12-09 17:00:23.847  112.611  112.638
2018-12-09 17:00:42.097  112.612  112.638
2018-12-09 17:01:11.597  112.611  112.638
2018-12-09 17:01:35.097  112.611  112.639
2018-12-09 17:01:52.097  112.619  112.655

1分足のデータに変換する

In [14]:
# 1分足データに変換する
data1M = df.resample('1Min',how='ohlc')
# 最初の５行を表示
data1M.head()

C:\Program Files\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: FutureWarning: how in .resample() is deprecated
the new syntax is .resample(...).ohlc()

                         Buy                                Sell           \
                        open     high      low    close     open     high
DateTime
2018-12-09 17:00:00  112.611  112.612  112.611  112.612  112.638  112.638
2018-12-09 17:01:00  112.611  112.619  112.611  112.619  112.638  112.655
2018-12-09 17:02:00  112.625  112.625  112.624  112.624  112.652  112.652
2018-12-09 17:03:00  112.629  112.631  112.629  112.631  112.666  112.666
2018-12-09 17:04:00  112.629  112.674  112.627  112.640  112.662  112.704


                         low    close
DateTime
2018-12-09 17:00:00  112.638  112.638
2018-12-09 17:01:00  112.638  112.646
2018-12-09 17:02:00  112.652  112.652
2018-12-09 17:03:00  112.658  112.658
2018-12-09 17:04:00  112.662  112.685